.top-nav {
  flex: 1 1 auto;
  margin: 0 auto;
  height: 100px;
  background-color: #eeede9;
  padding-bottom: 50px;
}

@media screen and (max-width: 600px) {
  .top-nav {
    flex-direction: column;
    text-align: center;
    justify-items:stretch ;
  }
  .cinemapi_title-thin,
  .cinemapi_title-thick {
    padding-bottom: 20px;
  }
  .nav-links {
    padding-left: 0px !important;
  }
}

.cinemapi_title-thin {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #3c3c3c;
  text-transform: uppercase;
  font-size: 42pt;
  text-decoration: none !important;
}

.cinemapi_title-thick {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #3c3c3c;
  text-transform: uppercase;
  font-size: 42pt;
  text-decoration: none !important;
}

.mat-button {
  font-family: 'Oswald', sans-serif;
  font-size: 14pt;
  font-weight: 300;
  color: #3c3c3c;
}

.nav-links {
  padding-left: 30px;
}