* {
  font-family: 'Oswald', sans-serif;
}

.mat-card-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-align: left;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.mat-card {
  border: none;
  box-shadow: none;
}

.card-content {
  font-family: 'Oswald', sans-serif;
  margin: 16px;
  font-size: 13pt;
}

.btn-primary {
  background-color:#718C6a;
  color: white;
  border-color: #3c3c3c;
  font-family: 'Oswald', sans-serif;
  min-width: 150px;
  font-size: 14pt !important;
  height: 45px;
  margin: 10px;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  opacity: 80%;
  color: white;
  border-color: #3c3c3c;
}

input {
  font-family: "Montserrat"; 
  font-weight: 300;
}